/.gradle/
/bin/
/gradle.properties
/databasetestDerby/
/databasetestDerbyb/
/build/
/databasetestHSQLDB.data
/databasetestHSQLDB.lck
/databasetestHSQLDB.lobs
/databasetestHSQLDB.log
/databasetestHSQLDB.properties
/databasetestHSQLDB.script
/databasetestHSQLDBb.data
/databasetestHSQLDBb.lck
/databasetestHSQLDBb.log
/databasetestHSQLDBb.properties
/databasetestHSQLDBb.script
/derby.log
/test-output/
/decentralizedDatabase1.data
/decentralizedDatabase1.lck
/decentralizedDatabase1.lobs
/decentralizedDatabase1.log
/decentralizedDatabase1.properties
/decentralizedDatabase1.script
/decentralizedDatabase2.data
/decentralizedDatabase2.lck
/decentralizedDatabase2.lobs
/decentralizedDatabase2.log
/decentralizedDatabase2.properties
/decentralizedDatabase2.script
/decentralizedDatabase3.data
/decentralizedDatabase3.lck
/decentralizedDatabase3.lobs
/decentralizedDatabase3.log
/decentralizedDatabase3.properties
/decentralizedDatabase3.script
/databasetestHSQLDB.backup
